<!DOCTYPE html>
<html lang="PT-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>DANZOBOT</title>
    </head>
    <body>
        <nav class="nav">
            <img id="danzo-logo" src="../static/LOGO-DANZO.png" alt="Danzo Logo">
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="https://gitlab.com/web-bot-project/projeto-web-bot">Sobre</a>
            <a class="nav-link" href="/form">Dados</a>
        </nav><br>
        <h1 class="text-center">MAPEADOR DE CRIMINALIDADE</h1>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script>
        </script>
    </body>
</html>
